{{ define "member/login-success.html" }}
<!DOCTYPE html>
<html lang="ko"><head>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/latest/js/bootstrap.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css" rel="stylesheet">
<style>
    body {
        background: #f8f8f8;
        padding: 60px 0;
    }
    
    #login-form > div {
        margin: 15px 0;
    }

</style>
</head>

<body>
<div class="container">
	<div class="container py-5 h-100">
		<div class="row d-flex justify-content-center align-items-center h-100">
			<div class="col-12 col-md-8 col-lg-6 col-xl-5">
				<div class="panel panel-success">
					<div class="panel-heading">
						<h3 class="mb-5">{{.title}}</h3>
					</div>
					{{if .member}}
					<div>
						<p>{{.member.UserId}} 님 환영 합니다!</p>
					</div>
					{{end}}
                    <a href="/">
						<button class="btn btn-primary btn-lg btn-block mb-4" type="submit">홈으로 가기</button>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>
{{ end }}
