{{ define "post/article.html" }}
<!DOCTYPE html>
<html lang="ko">

<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/latest/js/bootstrap.min.js"></script>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css" rel="stylesheet">
	<style>
		body {
			background: #f8f8f8;
			padding: 60px 0;
		}
		#login-form>div {
			margin: 15px 0;
		}
	</style>
</head>

<body>
	<div class="container">
		<section id="container">
			<div class="panel-heading">
				<h3 class="mb-5">{{.title}}</h3>
			</div>
			<div class="panel-body">
				<form class="form" id="login-form" action="../modify" method="POST">
					<input type="hidden" id="article-id" name="article-id" value="{{ .article.Id }}">
					<div class="form-group mb-3">
						<label for="title" class="control-label">제목</label>
						<input type="text" class="form-control form-control-lg" id="title" name="title" value="{{ .article.Title }}" readonly="readonly" autofocus>
					</div>
					<div class="form-group mb-3">
						<label for="content" class="control-label">내용</label>
						<textarea type="text" class="form-control form-control-lg" id="content" name="content" rows="5" readonly="readonly">{{ .article.Content }}</textarea>
					</div>
					<div class="form-group mb-4">
						<label for="writer" class="control-label">작성자</label>
						<input type="text" class="form-control form-control-lg" id="writer" name="writer" value="{{ .article.Writer }}" readonly="readonly">
					</div>
					<div class="mt-3">
                        {{ if not .member }}
                        {{ else if eq .member.UserId .article.Writer }}
						<a href="/post/modify/{{ .article.Id }}">
							<button class="btn btn-lg btn-warning col-2 mb-4" type="button">수정 하기</button>
						</a>
						<a href="/post/delete/{{ .article.Id }}">
							<button class="btn btn-danger btn-lg col-2 mb-4" type="button">삭제 하기</button>
						</a>
                        {{ end }}
						<a href="/post/list">
							<button class="btn btn-primary btn-lg col-2 mb-4" type="button">목록으로</button>
						</a>
					</div>
				</form>
			</div>

			<div id="comment">
				<ol class="comment-list">
					{{ $userid := "" }}
					{{ if .member }}
						{{ $userid = .member.UserId }}
					{{ end }}

					{{ range .comments }}
					<li class="mb-4">
						작성자 : {{ .Writer }}<br />
						작성 날짜 : {{ .RegisterDate }}
						<p>{{ .Content }}</p>
						<div>
							{{ if eq .Writer $userid }}
							<a href="/comment/modify/{{ .Id }}">
								<button type="button" class="replyUpdateBtn btn btn-warning">수정</button>
							</a>
							<a href="/comment/delete/{{ .Id }}">
								<button type="button" class="replyDeleteBtn btn btn-danger">삭제</button>
							</a>
							{{ end }}
						</div>
					</li>
					{{ end }}
				</ol>
			</div>

			{{ if .member }}
			<form class="form-horizontal" name="comment-form" action="../../comment/register" method="post">
				<input type="hidden" id="article-id" name="article-id" value="{{ .article.Id }}">
			
				<div class="form-group">
					<label for="writer" class="col-sm-2 control-label">댓글 작성자</label>
					<div class="col-sm-10">
						<input type="text" id="writer" name="writer" class="form-control" value="{{ .member.UserId }}" readonly="readonly"/>
					</div>
				</div>
				
				<div class="form-group">
					<label for="content" class="col-sm-2 control-label">댓글 내용</label>
					<div class="col-sm-10">
						<textarea type="text" id="content" name="content" class="form-control"></textarea>
					</div>
				</div>
				
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button class="replyWriteBtn btn btn-success" type="submit">작성</button>
					</div>
				</div>
			</form>
			{{ end }}
		</section>
	</div>
</body>

</html>
{{ end }}