{{ define "post/list.html" }}
<!DOCTYPE html>
<html lang="ko">

<head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/latest/js/bootstrap.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background: #f8f8f8;
            padding: 60px 0;
        }

        #login-form>div {
            margin: 15px 0;
        }
    </style>
</head>

<body>
    <div class="container">
        <form id="post-list" name="post-list" method="post">
            <div>
                <h1>게시판 입니다</h1>
            </div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col" class="text-center">번호</th>
                        <th scope="col" class="text-center">제목</th>
                        <th scope="col" class="text-center">글쓴이</th>
                        <th scope="col" class="text-center">작성일</th>
                        <th scope="col" class="text-center">조회수</th>
                    </tr>
                </thead>
                <tbody>
                    {{ range .posts }}
                    <tr>
                        <td style="width: 10%">{{ .Id }}</td>
                        <td style="width: 50%">
                            <a class="text-reset" href="/post/article/{{ .Id }}">{{ .Title }}</a>
                        </td>
                        <td style="width: 10%" class="text-center">{{ .Writer }}</td>
                        <td style="width: 20%" class="text-center">{{ .RegisterDate }}</td>
                        <td style="width: 10%" class="text-center">{{ .Views }}</td>
                    </tr>
                    {{ end }}
                </tbody>
            </table>
        </form>
        <hr />
        {{if .login}}
        <div>
            <a href="/post/register" class="btn btn-success">글쓰기</a>
        </div>
        {{ end }}

        <div class="text-center">
            <ul class="pagination justify-content-center">
                {{ if eq .pages.Prev 0 }}
                <li class="page-item disabled"><a class="page-link"  href="/post/list/{{ .pages.Prev }}">이전</a></li>
                {{ else }}
                <li class="page-item"><a class="page-link"  href="/post/list/{{ .pages.Prev }}">이전</a></li>
                {{ end }}

                {{ range .pages.Indexes }}
                <li class="page-item"><a class="page-link"  href="/post/list/{{.}}">{{.}}</a></li>
                {{ end }}

                {{ if eq .pages.Next 0 }}
                <li class="page-item disabled"><a class="page-link"  href="/post/list/{{ .page.Next }}">다음</a></li>
                {{ else }}
                <li class="page-item"><a class="page-link"  href="/post/list/{{ .page.Next }}">다음</a></li>
                {{ end }}
            </ul>
        </div>
    </div>
</body>

</html>
{{ end }}