{{ define "post/modify.html" }}
<!DOCTYPE html>
<html lang="ko">

<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/latest/js/bootstrap.min.js"></script>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css" rel="stylesheet">
	<style>
		body {
			background: #f8f8f8;
			padding: 60px 0;
		}
		#login-form>div {
			margin: 15px 0;
		}
	</style>
</head>

<body>
	<div class="container">
		<section id="container">
			<div class="panel-heading">
				<h3 class="mb-5">{{.title}}</h3>
			</div>
			<div class="panel-body">
				<form class="form" id="login-form" action="../modify" method="POST" enctype="multipart/form-data">
					<input type="hidden" id="article-id" name="article-id" value="{{ .article.Id }}">
					<div class="form-group mb-3">
						<label for="title" class="control-label">제목</label>
						<input type="text" class="form-control form-control-lg" id="title" name="title" value="{{ .article.Title }}" autofocus>
					</div>
					<div class="form-group mb-3">
						<label for="content" class="control-label">내용</label>
						<textarea type="text" class="form-control form-control-lg" id="content" name="content" rows="5">{{ .article.Content }}</textarea>
					</div>
					<div class="form-group mb-4">
						<label for="writer" class="control-label">작성자</label>
						<input type="text" class="form-control form-control-lg" id="writer" name="writer" value="{{ .article.Writer }}" readonly="readonly">
					</div>
					{{ range .attaches }}
					<div class="form-group mb-4">
						<label for="attach" class="control-label">첨부파일</label>
						<a href="/post/article/{{ .ArticleId }}/{{ .FileName }}">{{ .FileName }}</a>
						<a href="/post/delete/attach/{{ .Id }}">
							<button class="btn btn-danger" type="button">삭제</button>
						</a>
					</div>
					{{ end }}
					<div class="form-group mb-4">
						첨부 파일 : <input type="file" name="file">
					</div>
					<div class="mt-3">
						{{ if not .member }}
						{{ else if eq .member.UserId .article.Writer }}
						<a href="/post/modify/{{ .article.Id }}">
							<button class="btn btn-lg btn-warning col-2 mb-4" type="submit">수정 하기</button>
						</a>
						<a href="/post/delete/{{ .article.Id }}">
							<button class="btn btn-danger btn-lg col-2 mb-4" type="button">삭제 하기</button>
						</a>
						{{ end }}
						<a href="/post/article/{{ .article.Id }}">
							<button class="btn btn-success btn-lg col-2 mb-4" type="button">뒤로 가기</button>
						</a>
						<a href="/post/list">
							<button class="btn btn-primary btn-lg col-2 mb-4" type="button">목록으로</button>
						</a>
					</div>
				</form>
			</div>
		</section>
	</div>
</body>

</html>
{{ end }}